<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.sjtu.glister.glisterfrontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />



    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <queries>
        <intent>
            <action android:name="com.android.camera.action.CROP" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlisterFrontend"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name=".SaveActivity"
            android:exported="false" />
        <activity
            android:name=".EditActivity"
            android:label="@string/edit"
            android:parentActivityName=".RecordActivity" />
        <activity
            android:name=".RecordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlbumFolderActivity"
            android:label="AlbumFolderActivity"
            android:parentActivityName=".RecordActivity" />

        <activity
            android:name=".ObjectFolderActivity"
            android:label="ObjectFolderActivity"
            android:parentActivityName=".AlbumFolderActivity" />
        <activity
            android:name=".ImageActivity"
            android:label="@string/preview"
            android:parentActivityName=".ObjectFolderActivity" />

<!--        <activity-->
<!--            android:name=".PopupActivity" />-->

    </application>

</manifest>